 <form method="GET"  id="icard_search_form" action="{{ path('home') }}" class="navbar-search pull-left">
    <input type="text" name="search" class="search-query" placeholder="Search" value={{ app.request.get('search')  }}>
    <input type="hidden" name="target" value="Title + Note" id="icard_search_form_target" > 
    <div class="btn-group" style="margin-top:0px;" >
        {% set search_target = 'Title + Note'  %} 
        {% if app.request.get('target') is not empty  %} 
               {% set search_target = app.request.get('target')  %} 
        {% endif %} 
        
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="icard_search_info" href="#" >
            Search in "{{ search_target }}"
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <!-- dropdown menu links -->
            <li><a href="#" attr-data="Title">Title</a></li>
            <li><a href="#" attr-data="Note">Note</a></li>
            <li class="divider"></li>
            <li><a href="#" attr-data="Title + Note">Title + Note</a></li>
        </ul>
    </div>
    <button icon_inverted="icon_inverted" icon="search" class="btn btn btn-primary" type="submit" style="margin-top:0px;">
        <i class="icon-search icon-white"></i> Do Search
    </button>
</form>
<form method="GET"  id="icard_search_form" action="{{ path('home') }}" class="navbar-search pull-left">
    <button  class="btn btn btn-alert" type="submit" style="margin-left:5px;margin-top: 0px;">
            Clear 
    </button>
</form>

<script type="text/javascript"> 
$( document ).ready(function() {
   $('#icard_search_form ul.dropdown-menu li a').on('click',function(){
        var data = $(this).attr('attr-data');
        
        $('#icard_search_info').html(' Search in "' + data +  '" <span class="caret"></span>');
        $('#icard_search_form_target').val(data);
   });  
});
</script>